:root{
    --dark-green : #267265;
    --light-green : #98d4ca;
    --white : #f5f9f8;
    --bg-color : #dfeeeb;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--light-green);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.que{
    background-color: var(--white);
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .4rem;
    min-width: 80%;
}

.question{
    padding-bottom: .3rem;
    font-size: 1.10rem;
}

.answer{
    padding-bottom: .1rem;
    font-size: 1.1rem;
}

input[type="text"]{
    border: 0;
    outline: 0;
    background: transparent;
    color: #4c4949;
    border-bottom: 1.5px solid #AAA;
} 

select{
    border: 0;
    outline: 0;
    background: transparent;
    color: #4c4949;
    border-bottom: 1.5px solid #AAA;
}

input[type="submit"]{
    outline: 0;
    border: 0;
    font-size: 1.1rem;
    padding: .25rem;
    width: 20%;
    border-radius: 5px;
    background-color: var(--dark-green);
    color: var(--white);
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
    .form-box{
        padding: 0 30%;
    }

    .question, .answer, input[type="submit"]{
        font-size: 1.10rem;
    }

    .que{
        min-width: 500px;
    }
}